*DM_RESOURCES
VERSION=U22
*DM_LOCAL_DOMAINS
TDOM1     GWGRP=GRPGW
    TYPE=TDOMAIN
    DOMAINID="TDOM1"
    BLOCKTIME=60
    MAXDATALEN=65535
    MAXRDOM=89
    DMTLOGDEV="/app/tuxedo/tuxedo11gR1/samples/atmi/simpapp/TLOG"
    AUDITLOG="/app/tuxedo/tuxedo11gR1/samples/atmi/simpapp/AUDITLOG"
    DMTLOGNAME="DMTLOG_TUXDOM"

*DM_REMOTE_DOMAINS
TDOM2     TYPE=TDOMAIN
    DOMAINID="TDOM2"

*DM_TDOMAIN
TDOM1    NWADDR="//ip:port" #tuxedo提供给weblogic调用服务
TDOM2    NWADDR="//ip:port" #weblogic提供给tuxedo调用服务

*DM_REMOTE_SERVICES

*DM_LOCAL_SERVICES
